:root {
  --primary-background-color: hsl(210, 15%, 95%);
  --primary-header-color: hsl(234, 12%, 34%);
  --primary-card-color: hsl(212, 6%, 44%);
  --primary-card-section-color: hsl(0, 0%, 100%);
}
body {
  /* font-family: "Roboto", sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(249, 246, 246);
  color: var(--primary-card-color);
  font-weight: 500;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.text-header {
  padding-left: 7px;
  padding-right: 7px;
}
@media screen and (min-width: 768px) {
  header {
    width: 500px;
  }
}
h1 {
  color: var(--primary-header-color);
  font-weight: 600;
  margin: 0;
  font-size: 25px;
}

span {
  color: var(--primary-card-color);
  font-size: 30px;
  font-weight: 400;
  font-size: 26px;
}

h2 {
  color: var(--primary-header-color);
}

svg {
  margin-left: 15em;
  margin-top: 3em;
  max-width: 80px;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .main-container {
  }
}

.card-section {
  /* margin: auto;
     width: 90%;
  height: 15em; */
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .card-section {
    margin: auto;
    display: grid;
  }
}

.card-main {
  border-radius: 5px;
  box-shadow: 0.3em 0.3em 1em rgba(78, 72, 72, 0.6);
  margin-bottom: 3.5em;
  padding: 1.8em;
  padding-bottom: 0;
  background-color: var(--primary-card-section-color);
}

.card-one {
  border-top: 5px solid hsl(180, 62%, 55%);
}
.card-two {
  border-top: 5px solid hsl(0, 78%, 62%);
}
.card-third {
  border-top: 5px solid hsl(34, 97%, 64%);
}
.card-fourt {
  border-top: 5px solid hsl(212, 86%, 64%);
}
