:root {
  --primary-background-color: hsl(210, 15%, 95%);
  --primary-header-color: hsl(234, 12%, 34%);
  --primary-card-color: hsl(212, 6%, 44%);
  --primary-card-section-color: hsl(0, 0%, 100%);
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(249, 246, 246);
  color: var(--primary-card-color);
  font-weight: 500;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
text-align: center;
margin-top: 3em;
margin-bottom: 3em;
padding-left: 0.5em;
padding-right: 0.5em;
}
h1 {
  color: var(--primary-header-color);
font-weight: 700;
margin: 0;
}

span {
  color: var(--primary-card-color);
  font-size: 30px;
  font-weight: 600;
}

h2 {
  color: var(--primary-header-color);
}

svg {
  margin-left: 15em;
  margin-top: 3em;
}

.card-section {
  /* margin: auto;
     width: 90%;
  height: 15em; */
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-one {
  border-top: 5px solid hsl(180, 62%, 55%);
  border-radius: 5px;
  box-shadow: 0.3em 0.3em 1em rgba(78, 72, 72, 0.6);
  margin-bottom: 3.5em;
  padding: 1.8em;
  background-color: var(--primary-card-section-color);
}
.card-two {
  border-top: 5px solid hsl(0, 78%, 62%);
  border-radius: 5px;
  box-shadow: 0.3em 0.3em 1em rgba(78, 72, 72, 0.6);
  margin-bottom: 3.5em;
  padding: 1.8em;
  background-color: var(--primary-card-section-color);
}
.card-third {
  border-top: 5px solid hsl(34, 97%, 64%);
  border-radius: 5px;
  box-shadow: 0.3em 0.3em 1em rgba(78, 72, 72, 0.6);
  margin-bottom: 3.5em;
  padding: 1.8em;
  background-color: var(--primary-card-section-color);
}
.card-fourt {
  border-top: 5px solid hsl(212, 86%, 64%);
  border-radius: 5px;
  box-shadow: 0.3em 0.3em 1em rgba(78, 72, 72, 0.6);
  margin-bottom: 3.5em;
  padding: 1.8em;
  background-color: var(--primary-card-section-color);
}
