:root {
  --primary-background-color: hsl(210, 15%, 95%);
  --primary-header-color: hsl(234, 12%, 34%);
  --primary-card-color: hsl(212, 6%, 44%);
  --primary-card-section-color: hsl(0, 0%, 100%);
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(249, 246, 246);
  color: var(--primary-card-color);
  font-weight: 500;
  margin: 0;
}
h1 {
  font-weight: 700;
  color: var(--primary-header-color);
}
h2 {
  color: var(--primary-header-color);
}
span {
  color: var(--primary-card-color);
  font-weight: 400;
}
header {
  text-align: center;
}
svg{
    margin-left: 15em;
    margin-top: 3em;
}
.main-container {

  /* margin-left: auto;
  margin-right: auto; */
}
.card-section {
    /* margin: auto;
     width: 90%;
  height: 15em; */
    padding: 1.8em;
  border-radius: 5px;
  background-color: var(--primary-card-section-color);
 
  margin-bottom: 3.5em;
  box-shadow: 0.3em 0.3em 1em rgba(172, 161, 161, 0.6);
}
.card-one {
  border-top: 5px solid hsl(180, 62%, 55%);
}
.card-two {
  border-top: 5px solid hsl(0, 78%, 62%);
}
.card-third {
  border-top: 5px solid hsl(34, 97%, 64%);
}
.card-fourt {
  border-top: 5px solid hsl(212, 86%, 64%);
}
