:root {
  --primary-background-color: hsl(210, 15%, 95%);
  --primary-header-color: hsl(234, 12%, 34%);
  --primary-card-color: hsl(212, 6%, 44%);
  --primary-card-section-color: hsl(0, 0%, 100%);
}
body {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(249, 246, 246);
  color: var(--primary-card-color);
  font-weight: 500;
  margin: 0;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
  }
}

header {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

@media screen and (min-width: 768px) {
  header {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
}
.text-header {
  padding-left: 7px;
  padding-right: 7px;
}

@media screen and (min-width: 768px) {
  .text-header {
    padding: 0;
  }
}

h1 {
  color: var(--primary-header-color);
  font-weight: 700;
  margin: 0;
  font-size: 25px;
  margin-top: 10px;
}

span {
  color: var(--primary-card-color);
  font-size: 30px;
  font-weight: 300;
  font-size: 26px;
}

h2 {
  color: var(--primary-header-color);
}

svg {
  margin-left: 14em;
  /* margin-top: 3em; */
  margin-top: 2em;
  max-width: 80px;
}

.card-section {
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 95%;
}

@media screen and (min-width: 768px) {
  .card-section {
    margin: 0;
    width: 90%;
    max-width: 1200px;
    height: 600px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 30px;
  }
}

.card-main {
  border-radius: 6px;
  box-shadow: 0.3em 0.3em 1em rgba(78, 72, 72, 0.6);
  margin-bottom: 3.5em;
  padding: 1.8em;
  padding-bottom: 0;
  background-color: var(--primary-card-section-color);
}

@media screen and (min-width: 768px) {
  .card-main {
    width: 280px;
    height: 250px;
  }
}

.text-card {
  text-align: start;
  font-size: 15px;
}
.card-one {
  border-top: 5px solid hsl(180, 62%, 55%);
}

@media screen and (min-width: 768px) {
  .card-one {
    grid-column: 1;
    grid-row: 1 / span 2;
  }
}
.card-two {
  border-top: 5px solid hsl(0, 78%, 62%);
}

@media screen and (min-width: 768px) {
  .card-two {
    grid-column: 2;
    grid-row: 1;
  }
}
.card-third {
  border-top: 5px solid hsl(34, 97%, 64%);
}

@media screen and (min-width: 768px) {
  .card-third {
    grid-column: 2;
    grid-row: 2;
  }
}
.card-fourt {
  border-top: 5px solid hsl(212, 86%, 64%);
}

@media screen and (min-width: 768px) {
  .card-fourt {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
}
